.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.grid div {
    height: 40px;
    width: 40px;
}

.grid div:hover:not(.checked) {
    background-color: rgb(90, 90, 90);
}

.grid div * {
    color: yellow;
}

.checked {
    background-color: rgb(212, 212, 212);
    
}

form {
    margin: 10px
}

/* .bomb{
    background-color: orange;
} */

